

<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Olá, seja bem vindo!</h1>
            <p class="lead text-muted"><strong>Nome do cliente</strong> essa é uma area especial para você, aqui vai encontrar Histórico de compras, Detalhes sobre os produtos par aentrega, e também poderá entrar em contato com nosso setor de vandar para condições exclusivas</p>
            <p>
                <a href="#" class="btn btn-primary my-2">Main call to action</a>
                <a href="#" class="btn btn-secondary my-2">Secondary action</a>
            </p>
        </div>
    </div>
</section>


